* ::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
}

.global {
  display: flex;
  justify-content: center;
  //min-height: 40vh;
}

.global > section,
.global > footer {
  flex: 0 1 var(--largeur-flex-basis); /* le prmier argument c grow, deuxieme c shrink et le 3eme c */
  padding: 5rem 1rem;
  flex: 0 1 1100px;
}

.global > header,
.entete__menu,
.entete__header {
  flex: 0 1 1500px;

  //min-height: 50vh;
  position: relative;
}

#entete {
  background: var(--couleur-principale);
  position: relative;
}

#accueil {
  background: var(--couleur-secondaire);
}

#galerie {
  background: var(--couleur-accent);
  position: relative;
  z-index: 1;
  background: var(--couleur-secondaire) 50%;

  // utilisation du nesting
  blockquote {
    font-style: italic;
    font-size: clamp(0.875rem, 0.0938rem + 2.5vw, 1.5rem);
    font-family: "Times New Roman", Times, serif; /* Changement de police */
    transform: rotate(-5deg);
    color: var(--couleur-p);
    max-width: 80%;
    margin: auto; /* pour centrer */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
  }

  blockquote:before {
    content: open-quote; /* Ajoute un guillemet ouvrant */
    font-size: 6em;
    line-height: 0.1em;
    margin-right: 0.25em;

    // Align quote to the center of the blockquote
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  blockquote:after {
    content: close-quote; /* Ajoute un guillemet fermant */
    font-size: 6em;

    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#evenement {
  background: var(--couleur-secondaire);
  position: relative;
}
#footer {
  background: var(--couleur-principale);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
