body {
  display: flex;
  flex-direction: column;
  font-family: "Prompt", sans-serif;
}

.global {
  display: flex;
  justify-content: center;
  min-height: 40vh;
}

.global > section,
.global > header,
.global > footer {
  flex: 0 1 var(--largeur-flex-basis); /* le prmier argument c grow, deuxieme c shrink et le 3eme c */
  padding: 5rem 1rem;
}

#entete {
  background: var(--couleur-arriere-entete);
  position: relative;
}

#accueil {
  background: var(--couleur-arriere-accueil);
}
#galerie {
  background: var(--couleur-arriere-galerie);
  position: relative;

  z-index: 1;
  background: linear-gradient(
    180deg,
    var(--couleur-arriere-accueil) 50%,
    var(--couleur-arriere-evenement) 50%
  );
}
#evenement {
  background: var(--couleur-arriere-evenement);
  position: relative;
}
#footer {
  background: var(--couleur-arriere-footer);
  position: relative;
}
