:root {
  --couleur-arriere-entete: linear-gradient(
    114.9deg,
    rgb(34, 34, 34) 8.3%,
    rgb(0, 40, 60) 41.6%,
    rgb(0, 143, 213) 93.4%
  );
  --couleur-arriere-accueil: linear-gradient(
    -98.3deg,
    rgb(0, 0, 0) 10.6%,
    rgb(255, 0, 0) 97.7%
  );

  --couleur-arriere-galerie: linear-gradient(
    to right,
    #d7d2cc 0%,
    #304352 100%
  );

  --couleur-arriere-evenement: linear-gradient(
    109.7deg,
    rgb(202, 50, 50) 5.7%,
    rgb(252, 195, 12) 92.4%
  );

  --couleur-arriere-footer: linear-gradient(
    109.6deg,
    rgb(72, 200, 160) 11.2%,
    rgb(32, 40, 48) 91.3%
  );

  // création variable 1
  --effet-typo-h1: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 0.2) 50%
  );

  --largeur-flex-basis: 900px; // création variable 2
}
