:root {
  /* j'ai enlevé tous les calculs qu'on a fait en classe. j'ai trouvé ça
  inutile et compliqué pour rien. je vais quand même utiliser le hsl comme demandé */

  // couleurs arrière plan
  --couleur-arriere-entete: hsl(48, 67%, 49%);
  --couleur-arriere-accueil: hsl(179, 52%, 47%);
  --couleur-arriere-galerie: hsl(328, 55%, 57%);
  --couleur-arriere-evenement: hsl(179, 40%, 50%);
  --couleur-arriere-footer: hsl(48, 67%, 49%);

  // couleurs pour les H
  --couleur-h1: hsl(220, 98%, 30%);
  --couleur-h2: hsl(10, 10%, 100%);
  --couleur-h3: hsl(5, 99%, 42%);
  --couleur-h4: hsl(30, 30%, 100%);
  --couleur-h5: hsl(208, 100%, 43%);

  // autres variables
  --largeur-flex-basis: 900px;
}
