:root {
  // couleurs 60% (couleur principale) 30% (couleur secondaire), 10% (couleur accent)
  --couleur-principale: hsl(48, 67%, 49%); //couleur 60%

  --couleur-secondaire: hsl(179, 40%, 50%); //coulleur 30%
  --couleur-accent: hsl(328, 55%, 57%); //couleur 10
  --couleur-secondaire-foncee: hsl(179, 40%, 40%);

  // autres variables
  --largeur-flex-basis: 900px;

  //rajout de fonctions
  @mixin positionnement {
    position: absolute;
    margin: auto;
    top: -20;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
