.section__cours {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.carte {
  background-color: var(--couleur-principale);
  border: 2px solid var(--couleur-accent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 25%;
  padding: 1rem;
}
