.section__cours {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.carte {
  background-color: var(--couleur-principale);
  border: 2px solid var(--couleur-accent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 29%;
  //flex 1 1 calc(1000px/4);
  // et noramalement je peux enlever le media en bas
  padding: 1rem;
}

.carte h6 {
  margin: 0;
  padding: 0;
}

//. carte *{ text-align: center et sa va tout centrer}

@media (max-width: 760px) {
  .carte {
    flex: 0 0 90%;
  }
}
