/*<div id="menu" class="global">
    <div class="entete__menu">
    //generer par wp_nav_menu() de wordpress
      <div class="menu-entete-container">
        <ul id="menu-entete" class="menu">
            <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-post current-menu-item menu-item-31"><a href="http://localhost/Bd-4w4/index.php/2020/10/07/350-5n1-communication-et-dynamique-dune-equipe-de-travail-45h/" aria-current="page">Communication</a></li>
            <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-32"><a href="http://localhost/Bd-4w4/index.php/2020/10/07/393-5e1-methodes-de-recherche-et-preparation-au-marche-du-travail-45h/">Méthodes de recherche</a></li>
            <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33"><a href="http://localhost/Bd-4w4/index.php/2020/10/07/582-1j1-animation-et-interactivite-en-jeu-75h/">Animation et interactivité</a></li>
            <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-34"><a href="http://localhost/Bd-4w4/index.php/2020/10/07/description-du-cours-582-1m1-creation-video/">Création vidéo</a></li>
        </ul>
       </div>
    </div>
</div>


.entete__menu {
  border: 1px solid red;
}
*/

.menu-entete-container {
  // qui deviendra nav

  width: 100%;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 2;
  transform: translateX(-200%);

  @media screen and (min-width: 700px) {
    position: static;
    transform: translateX(0);
  }
}

.menu {
  //ul
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media screen and (min-width: 700px) {
    // desktop
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.menu-item {
  //li
}

.menu-item a {
  //li a
}

#chk_burger {
  display: none;
}

#burger {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  @media screen and (min-width: 700px) {
    display: none;
  }
}

#chk_burger:checked ~ .menu-entete-container {
  transform: translateX(100%);
}
