/*<div id="menu" class="global">
    <div class="entete__menu">
    //generer par wp_nav_menu() de wordpress
      <div class="menu-entete-container">
        <ul id="menu-entete" class="menu">
            <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-post current-menu-item menu-item-31"><a href="http://localhost/Bd-4w4/index.php/2020/10/07/350-5n1-communication-et-dynamique-dune-equipe-de-travail-45h/" aria-current="page">Communication</a></li>
            <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-32"><a href="http://localhost/Bd-4w4/index.php/2020/10/07/393-5e1-methodes-de-recherche-et-preparation-au-marche-du-travail-45h/">Méthodes de recherche</a></li>
            <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33"><a href="http://localhost/Bd-4w4/index.php/2020/10/07/582-1j1-animation-et-interactivite-en-jeu-75h/">Animation et interactivité</a></li>
            <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-34"><a href="http://localhost/Bd-4w4/index.php/2020/10/07/description-du-cours-582-1m1-creation-video/">Création vidéo</a></li>
        </ul>
       </div>
    </div>
</div>




.menu-entete-container {
  // qui deviendra nav

  width: 100%;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 2;
  transform: translateX(-200%);

  @media screen and (min-width: 700px) {
    position: static;
    transform: translateX(0);
  }
}
*/

#menu.global {
  //le conteneur du nav
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--couleur-secondaire);
  position: relative;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 100vw; /*si je ne mets pas de width, ça va seulement prendre la largeur du bouton*/
}

.entete__menu span {
  display: flex;

  @media screen and (min-width: 700px) {
    display: none;
  }
}

nav {
  /*lorsque le burger est checked, le nav apparaît de la gauche*/

  background-color: var(--couleur-accent);
  box-shadow: 10px 10px 20px 15px rgba(0, 0, 0, 0.2);
  position: absolute; /*par rapport au burger*/
  top: 55px;
  display: flex; /*centrer étape 1*/
  flex-direction: column; /*centrer étape 2, en colonne*/
  justify-content: center; /*centrer étape 1*/
  align-items: center; /*centrer étape 1*/
  opacity: 1;
  translate: -992px 0; /*pour qu'il soit dehors du viewport*/
  transition: translate 1s ease;
  width: 100%;
  padding: 1rem 0 1rem 0; /*je ne veux pas qu'il soit un peu décollé du menu burger*/
  z-index: 2; /*sinon il apparaît en arrière*/

  @media screen and (min-width: 700px) {
    background-color: var(--couleur-secondaire);
    position: static;
    flex-direction: row;
    justify-content: space-around;
    translate: 0;
    box-shadow: unset;
  }
}

nav ul {
  //ul
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media screen and (min-width: 1000px) {
    // desktop
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
}

.menu-item {
  //li
  margin: 0.2rem;
}

.menu-item a {
  //li a
  color: white;

  text-decoration: none;
  font-size: 1.2rem;
}

#chk_burger {
  display: none;
}

#chk_burger:checked ~ nav {
  translate: 0;
  transition: translate 1s ease;
}
